####Question 1: Create a list of first 10 square numbers

In [1]:
i = 1
squares = [i**2 for i in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

####Question 2: Find the sum of all even numbers in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_sum = sum(num for num in numbers if num % 2 == 0)

print(even_sum)

30

 ####Question 3: Remove duplicates from [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

In [3]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7]

unique_numbers = list(set(numbers))

print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7]

####Question 4: Sort the list [64, 34, 25, 12, 22, 11, 90] in descending order

In [4]:
numbers = [64, 34, 25, 12, 22, 11, 90]

numbers.sort(reverse=True)

print(numbers)

[90, 64, 34, 25, 22, 12, 11]

####Question 5: Find the average of numbers in [15, 23, 31, 42, 56, 78, 91]

In [5]:
numbers = [15, 23, 31, 42, 56, 78, 91]

average = sum(numbers) / len(numbers)

print(average)

48.0

####Question 6: Create a list of first 15 Fibonacci numbers

In [6]:
fib = [0, 1]

for i in range(13):
    fib.append(fib[-1] + fib[-2])

print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

####Question 7: Find the second largest number in [45, 67, 23, 89, 12, 34, 78]

In [9]:
numbers = [45, 67, 23, 89, 12, 34, 78]
unique_list = []

for n in numbers:
  if n not in unique_list:
    unique_list.append(n)
unique_list.sort()
print(unique_list[-2])

78

####Question 8: Reverse the list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
numbers = [1,2,3,4,5,6,7,8,9,10]

numbers.reverse()

print(numbers)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

####Question 9: Count how many times 5 appears in [1, 5, 2, 5, 3, 5, 4, 5, 6]

In [8]:
numbers = [1, 5, 2, 5, 3, 5, 4, 5, 6]

count = numbers.count(5)

print(count)

4

####Question 10: Create a list of prime numbers between 1 and 50

In [10]:
primes = []

for num in range(2, 51):
    # assume num is prime
    for i in range(2, num):
        if num%i == 0:
            # num is not prime
            break
    else:
        primes.append(num)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

####Question 11: Flatten nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [11]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_list = []
for sublist in nested_list:
  for item in sublist:
    flatten_list.append(item)

print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

####Question 12: Find common elements between [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]

In [12]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_ele = []

for item in list1:
  if item in list2:
    common_ele.append(item)

print(common_ele)

[4, 5]

####Question 13: Create a list of lists: [[1, 2], [3, 4], [5, 6]]

In [13]:
list1 = [[1, 2], [3, 4], [5, 6]]
print(list1)

[[1, 2], [3, 4], [5, 6]]

####Question 14: Find the sum of each sublist in [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [14]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum_list = []
sum_item = 0
for sublist in list1:
  for item in sublist:
    sum_item += item
  sum_list.append(sum_item)
  sum_item = 0

print(sum_list)

[6, 15, 24]

####Question 15: Transpose the matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [15]:
matrix = [[1,2,3],
          [4,5,6],
          [7,8,9]]
transpose = []
for i in range(len(matrix)):
  new_row = []
  for row in matrix:
    new_row.append(row[i])
  transpose.append(new_row)

print(transpose)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####Question 16: Find the maximum value in each sublist of [[1, 5, 3], [9, 2, 7], [4, 8, 6]]

In [16]:
input_list = [[1, 5, 3], [9, 2, 7], [4, 8, 6]]
max_list = []

for i in range(len(input_list)):
    current_max = input_list[i][0]
    for j in range(len(input_list[i])):
        if input_list[i][j] > current_max:
            current_max = input_list[i][j]
    max_list.append(current_max)

print(max_list)

[5, 9, 8]

####Question 17: Create a 3D list: [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [17]:
three_d_list = []
num = 1

for _ in range(2):
    matrix = []
    for _ in range(2):
        matrix.append([num, num + 1])
        num += 2
    three_d_list.append(matrix)

print(three_d_list)

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

####Question 18: Find the sum of all elements in 3D list [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

In [18]:
threed_list =  [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
sum_of_list = 0
for i in range(len(threed_list)):
  for substring in threed_list:
    for subsubstring in substring:
      sum_of_list += subsubstring[i]

print(sum_of_list)

36

####Question 19: Extract all even numbers from nested list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [19]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
even_numbers = []
for i in range(len(nested_list)): # i 0->3
  for substring in nested_list: # [1,2,3]
    if substring[i] % 2 == 0: #
      even_numbers.append(substring[i])

even_numbers.sort()
print(even_numbers)

[2, 4, 6, 8]

####Question 20: Create a list of mixed data types: [1, "hello", 3.14, True, [1, 2, 3]]

In [20]:
mixed_list = []
mixed_list.append(1)
mixed_list.append('hello')
mixed_list.append(3.14)
mixed_list.append(True)
mixed_list.append([1,2,3])
print(mixed_list)

[1, 'hello', 3.14, True, [1, 2, 3]]